$bg-color: #fffef7;
$bg-color2: #cccccc;
$action-color: #de5c44;
$secondary: #64706c;
$base-color: #2f2f2f;
$def-trans-time: 0.3s;
$def-border-radius: 3px;
$img-path: '../images';
$container-w: 990px;

$col-xs: 500px;
$col-sm: 768px;
$col-md: 999px;

$fs-base: 15px;
$fs-title: 20px;
$fw-bold: 700;

$base-font: 'Quattrocento', Arial, serif;
$title-font: 'Oswald', Arial, sans-serif;

