.list {
    &-item {
        background: rgba($secondary, 0.15);
        padding: 15px 20px;
        font-size: 18px;
        font-weight: 700;
        transition: $def-trans-time;
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            height: 3px;
            background: $action-color;
            border-bottom: $def-border-radius;
            top: 50%;
            left: 50%;
            right: 50%;
            transition: $def-trans-time * 2;
            transform: translateY(-50%);
        }

        &.completed {
            background: rgba($secondary, 0.05);
            color: rgba($base-color, 0.5);
            &:after {
                left: -5px;
                right: -5px;
            }
        }
        
        &__wrapper {
            margin: 0 0 15px;
            list-style: none;
        }

        &__actions {
            padding: 5px 0;
            display: flex;
            justify-content: space-between;
            align-content: stretch;

            .btn {
                flex-grow: 1;
            }
        }
    }
}